.hidden {
    display: none;
}

.waveSelector {
    padding: 20px;
}

.mouthBox {
    float: right;
    margin-right: 50px;
}

.phonemeEditor {

}

.formGroup {
    background-color: #eee;
    margin: 5px;
    padding: 5px;
    width: 600px;
}

.formGroup .leftLabel {
    vertical-align: top;
    display: inline-block;
    width: 100px;
}

.formGroup input {
    margin-bottom: 5px;
}

.textBox {
    width: 500px;
}

.phonemeBox {
    width: 500px;
    font-family: 'courier';
    font-size: large;
}

.visemeBox {
    
}

.visemeType {

}

.visemeTypeLabel {

}

.downloadLipz {

}

.lipzFileContent {
    word-break: break-all;
    font-family: monospace;
    color: lightgreen;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
}

.visemeBox .previewButton {
    margin-left: 5px;
}

.viseme {
    width: 300px;
    height: 197px;
}

.viseme-default {
    background-image: url(images/a.png);
}

.viseme-toonboom-default {
    background-image: url(images/a.png);
}

.viseme-toonboom-a {
    background-image: url(images/a.png);
}

.viseme-toonboom-b {
    background-image: url(images/b.png);
}

.viseme-toonboom-c {
    background-image: url(images/c.png);
}

.viseme-toonboom-d {
    background-image: url(images/d.png);
}

.viseme-toonboom-e {
    background-image: url(images/e.png);
}

.viseme-toonboom-f {
    background-image: url(images/f.png);
}

.viseme-toonboom-g {
    background-image: url(images/g.png);
}

.viseme-blair-default {
    background-image: url(images/a.png);
}

.viseme-blair-m {
    background-image: url(images/a.png);
}

.viseme-blair-s {
    background-image: url(images/b.png);
}

.viseme-blair-e {
    background-image: url(images/c.png);
}

.viseme-blair-a {
    background-image: url(images/d.png);
}

.viseme-blair-o {
    background-image: url(images/e.png);
}

.viseme-blair-w {
    background-image: url(images/f.png);
}

.viseme-blair-f {
    background-image: url(images/g.png);
}

.viseme-blair-l {
    background-image: url(images/l.png);
}

.viseme-blair-u {
    background-image: url(images/u.png);
}

.viseme-rms-default {
    background-image: url(images/a.png);
}

.viseme-rms-0 {
    background-image: url(images/a.png);
}

.viseme-rms-1 {
    background-image: url(images/c.png);
}

.viseme-rms-2 {
    background-image: url(images/c.png);
}

.viseme-rms-3 {
    background-image: url(images/c.png);
}

.viseme-rms-4 {
    background-image: url(images/c.png);
}

.viseme-rms-5 {
    background-image: url(images/c.png);
}

.viseme-rms-6 {
    background-image: url(images/c.png);
}

.viseme-rms-7 {
    background-image: url(images/d.png);
}

.viseme-rms-8 {
    background-image: url(images/d.png);
}

.viseme-rms-9 {
    background-image: url(images/d.png);
}